.container {
  margin: auto;
  text-align: center;
  width: 80%;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: lightGray;
}

h1 {
  margin: 40px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 9rem;
  color: violet;
}

p {
  font-size: 2rem;
  color: orchid;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: violet;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 4rem;

}
